.chat {
  background: rgb(255, 255, 255);
  height: 100%;
  width: 50%;

  .toast-chat {
    padding-left: 13px;
    font-size: 10px;

    .me-auto {
      padding-left: 7px;
      position: relative;
      bottom: 10px;
    }
    .picture-profile {
      width: 40px;
      position: relative;
      border-radius: 44px;
      top: 8px;
      left: 2px;
    }
  }

  .toast-body {
    padding-left: 61px;
    font-size: 10px;
    position: relative;
    bottom: 10px;
    word-break: break-all;
  }

  .cnt-chat {
    background: rgba(75, 74, 74, 0.17);
    height: 82%;
    overflow-y: scroll;
  }
}

@media all and (min-width: 600px) {
  .chat {
    .toast-chat {
      padding-left: 5px;
      font-size: 18px;

      .me-auto {
        padding-left: 20px;

        font-family: "Montserrat";
      }

      img {
        top: 14px;
        width: 50px;
        border-radius: 44px;
      }
    }

    .toast-body {
      padding-left: 65px;
      font-size: 14px;
      font-weight: 500;
      font-family: "Montserrat";
    }

    .cnt-chat {
      height: 75%;
      overflow-y: scroll;

      .text-muted {
        left: 174px;
        top: 30px;
        font-size: 12px;
      }
    }

    .message {
      width: 470px;
      top: 20px;
      border-radius: 8px;
      margin-right: 73px;
      padding: 8px;
      margin-top: 27px;
    }

    .cnt-message {
      padding: 0px 10px 0px 10px;
      font-size: 14px;
      word-break: break-all;
      padding-left: 20px;
      font-family: "Montserrat";
      color: rgb(83 83 83 / 59%);
    }
  }
}
