.chat {
  background: #eb4884b3;
  height: 100%;
  width: 50%;


  .toast-chat {
    padding-left: 13px;
    font-size: 10px;
    color: #ffff;
    .me-auto {
      padding-left: 7px;
      position: relative;
      bottom: 10px;
      font-size: 50px;
     
    }

    .picture-profile {
      width: 63px;
      position: relative;
      border-radius: 44px;
      top: 8px;
      left: 2px;
    }
  }

  .toast-body {
    padding-left: 86px;
    font-size: 17px;
    position: relative;
    bottom: 12px;
    word-break: break-all;
    color: #ffff;
  }

  .cnt-chat {
    background-image: url(https://www.wallpapertip.com/wmimgs/45-452910_abstract-wallpaper-macbook-pro.jpg);
    height: 78%;
    overflow-y: auto;
    width: 100%;
    background-size: 100% 100%;
  }
}

