@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.toast-container {
  background-color: #201f1fed;
  width: 50%;
  height: 100%;

  .logo {
    width: 69px;
    position: relative;
    top: 65px;
    left: 23px;
  }

  .container-fluid {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) -74%, #ff006a 47%);

    .header {
      height: 50px;
      margin: 0;
      padding-bottom: 50px;
      padding-left: 115px;
      color: white;
      font-size: 40px;
    }
  }

  .create {
    color: white;
    font-size: 27px;
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    margin-left: 38%;
    margin-top: 30px;
  }
}
