.self-message {
  position: relative;
  top: 1px;
  margin-bottom: 35px;
  .chat {
    .text-muted {
      margin-left: 63%;
      font-size: 8px;
    }

    .cnt-message {
      padding-left: 10px;
      font-size: 10px;
    }
  }

  .img-avatar {
    float: right;
    margin: -29px 9px;
  }

  .message {
    background: #ec7a94;
    float: right;
    margin-right: 74px;
    margin-top: 25px;
  }

  .time-two {
    color: white;
    /* float: right; */
    position: fixed;
    right: 27.5%;
   
  }
}

.message {
  background: white;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 83%);
  margin-left: 74px;
  width: 61%;
  border-radius: 7px;
  margin-top: 23px;
}

.chat {
  .text-muted {
    margin-left: 63%;
    font-size: 8px;
  }

  .cnt-message {
    padding-left: 17px;
    font-size: 11px;
    padding: 12px;
    margin: 0px;
  }

  img {
    width: 33px;
    position: relative;
    top: 31px;
    left: -16px;
    border-radius: 50px;
  }
}

.time {
    /* position: absolute; */
    float: left;
    font-size: 9px;
}

